/*.container {
        border: 3px solid #f1f1f1;
}*/

input {
    /*width: 90%;*/
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    float: right;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: Left;
    margin: 12px;
}

img.school_img {
    width: 10%;
}

form {
    width: 50%;
    margin: auto;
    padding: 12px;
}

hr {
    border: 0;
    background-color: black;
    height: 5px;
}