<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>

<form action="../php/School.php">
    <div class="col-sm-12">
        <h2>Add Student / Edit Student Name</h2>
        <hr>
    </div>

    <div class="col-sm-2">
        <button type="submit" name="save-btn" class="btn btn-default" style="width:100%;">Save</button>
    </div>
    <div class="col-sm-10">
        <button type="submit" name="delete-btn" class="btn btn-default">Delete</button>
    </div>

    <div class="col-sm-12"><br></div>

    <label class="control-label col-sm-2">Name:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="name">
    </div>

    <label class="control-label col-sm-2">Phone:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="phone">
    </div>

    <label class="control-label col-sm-2">Email:</label>
    <div class="col-sm-10">
        <input type="email" class="form-control" name="email">
    </div>

    <label class="control-label col-sm-2">Image:</label>
    <div class="col-sm-2">
        <img src="../img/school_img.png" alt="school_img" width=100%>
    </div>
    <div class="col-sm-8">
        <input type="file" name="img" accept="image/*">
    </div>

    <div class="col-sm-12"><br></div>

        <label class="col-sm-2">Courses:</label>
    <div class="col-sm-10">
        <label class="radio-inline">
            <input type="radio" name="optradio" value="A" checked>Course A
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio" value="B">Course B
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio" value="C">Course C
        </label>
    </div>
</form>

</body>
</html>
