<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>

<!-- action=$id -->
<form action="../php/School.php">
        <div class="col-sm-1">
            <h2>Student</h2>
        </div>
        <div class="col-sm-11">
            <button type="submit" class="btn btn-default">Edit</button>
        </div>

        <div class="col-sm-12"><hr></div>

        <div class="col-sm-3">
            <img src="../img/school_img.png" alt="school_img" width=100%>
        </div>
        <div class="col-sm-9">
            <h4>Yossi Chohen</h4>
            <h4>052-1231234</h4>
            <h4>yossi@gmail.com</h4>
        </div>

        <div class="col-sm-1">
            <input type="checkbox" value="" checked>
        </div>
        <div class="col-sm-11">
            <span>DBA</span>
        </div>

        <div class="col-sm-1">
            <input type="checkbox" value="">
        </div>
        <div class="col-sm-11">
            <span>Backend</span>
        </div>
</form>

</body>
</html>
