<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>

<form action="../php/School.php">
        <div class="col-sm-4">
            <h2>Course A</h2>
        </div>
        <div class="col-sm-8">
            <button type="submit" class="btn btn-default">Edit</button>
        </div>

        <div class="col-sm-12"><hr></div>

        <div class="col-sm-4">
            <img src="../img/school_img.png" alt="school_img" width=100%>
        </div>
        <div class="col-sm-8">
            <h1>Course A, 666 Students</h1>
            <span>Course dscription Course dscription Course dscription Course dscription Course dscription Course dscription Course dscription </span>
        </div>

        <div class="col-sm-12">
            <h2>Students</h2>
        </div>

        <label class="control-label col-sm-12">Student Name</label>
        <label class="control-label col-sm-12">Student Name</label>

        <!--<div class="col-sm-1">
            <input type="checkbox" value="" checked>
        </div>
        <div class="col-sm-11">
            <span>Student Name</span>
        </div>

        <div class="col-sm-1">
            <input type="checkbox" value="">
        </div>
        <div class="col-sm-11">
            <span>Student Name</span>
        </div>-->
</form>

</body>
</html>
